.confirmation {
  padding: 6.5rem 0;
  flex: 1;
  background-color: var(--color-background);
}

.confirmation__title {
  margin-bottom: 5rem;
  font-size: 3.6rem;
}

.confirmation__wrapper {
  display: flex;
  justify-content: space-between;
}

.confirmation__box {
  padding: 2rem;
  background-color: var(--color-gray);
}

.confirmation__box > *:not(:last-child) {
  margin-bottom: 2rem;
}
