.product-card {
  background-color: #fff;
  cursor: pointer;
}

.product-card--horizontal {
  display: flex;
  cursor: initial;
}

.product-card__wrapper {
  position: relative;
  height: 20rem;
}

.product-card--horizontal .product-card__wrapper {
  width: 18rem;
  height: 18rem;
}

.product-card__img {
  object-fit: cover;
}

.product-card:not(.product-card--horizontal)
  .product-card__wrapper:hover
  > .product-card__overlay {
  background-color: rgba(0, 0, 0, 0.4);
}

.product-card__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.product-card__body {
  padding: 2rem 1.2rem;
  background-color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.product-card--horizontal .product-card__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 38rem;
  padding: 4.5rem 6rem 4.5rem 3rem;
  text-align: left;
}

.product-card__title {
  margin-bottom: 0.5rem;
  color: var(--color-black);
  font-size: 2.2rem;
  font-weight: 500;
}

.product-card--horizontal .product-card__title {
  letter-spacing: 4.8px;
}

.product-card__price {
  color: var(--color-gray-darker);
}

.product-card--horizontal .product-card__price {
  color: var(--color-black);
  font-weight: 500;
}
