.home {
  padding: 6.5rem 0;
  flex: 1;
  background-color: var(--color-background);
}

.home__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home__img {
  width: 15rem;
  margin-bottom: 4.5rem;
}

.home__products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-column-gap: 2.5rem;
  grid-row-gap: 4.5rem;
}
